@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

main {
  display: flex;
  align-items: center;
  height: calc(100vh - 160px);
  overflow: hidden;
  @include for-md-screen-up {
    max-width: 1550px;
  }
}

.swiper {
  max-width: 500px;
  overflow: visible;
  width: 100%;
  &-slide {
    cursor: grab;
    position: relative;
    transition: all 300ms ease-out;
    &.is-zoomed {
      transform: scale(1.2) !important;
    }
  }
}

.book-peek-btn {
  border: none;
  background-color: $primary-color-dark;
  color: $secondary-color;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2rem;
  opacity: 0;
  padding: 0.2rem 1rem;
  position: absolute;
  transition: transform 100ms ease-in-out, opacity 200ms ease-in-out 900ms;
  right: 0;
  top: -30px;
  &:active {
    transform: scale(1.1);
  }
  @include for-md-screen-up {
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(1.2);
    }
  }
  .swiper-slide-active & {
    opacity: 1;
  }
  i {
    padding-left: 1rem;
  }
}

.book-info {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  padding: 8%;
  position: absolute;
  top: 0;
  transition: opacity 150ms ease-in;
  transition-delay: 600ms;
  left: 0;
  width: 100%;
  height: 100%;
  @include for-md-screen-up {
    padding-top: 3rem;
  }
  h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
    margin-top: 1rem;
    max-height: 25%;
    overflow: scroll;
    text-align: center;
    @include for-md-screen-up {
      margin-top: 3rem;
    }
  }
  .book-description {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 10%;
    max-height: 37%;
    overflow-y: scroll;
  }
  .book-price {
    bottom: 7rem;
    font-size: 1.6rem;
    position: absolute;
    right: 3rem;
    @include for-md-screen-up {
      bottom: 9rem;
    }
  }
  .add-cart-btn {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    transition: all 200ms ease-in-out, transform 100ms ease-in-out;
    width: 83%;
    &:active {
      transform: translateX(-50%) scale(1.1);
    }
    @include for-md-screen-up {
      bottom: 3rem;
    }
  }
  .is-zoomed & {
    opacity: 1;
  }
}
